<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/admin/head.ejs', { viewCss: '/css/admin-profile.css' }) %>

<%- include('../../partials/admin/nav.ejs') %>


<body>
    <h3>MY DETAILS</h3><br>
    <div class="profile-div">
        <div class="profile-field">
            <div class="profile-label">Full Name:</div>
            <div class="profile-value"><%= userDetails.fullName %></div>
        </div>

        <div class="profile-field">
            <div class="profile-label">Department:</div>
            <div class="profile-value"><%= userDetails.department %></div>
        </div>

        <div class="profile-field">
            <div class="profile-label">ID:</div>
            <div class="profile-value"><%= userDetails.empId %></div>
        </div>

        <div class="profile-field">
            <div class="profile-label">Email:</div>
            <div class="profile-value"><%= userDetails.email %></div>
        </div>

        <div class="profile-field">
            <div class="profile-label">Phone:</div>
            <div class="profile-value"><%= userDetails.phone %></div>
        </div><br>
    </div>

</body>

<%- include('../../partials/admin/footer.ejs') %>

</body>
</html>