<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/admin/head.ejs', { viewCss: '/task-details.css' }) %>

<%- include('../../partials/admin/nav.ejs') %>

<body>
    <div class="task-details"><br>
        <h4>Task Details</h4><br>
        <div class="task-name">
            <label>Title:</label>
            <span><%= task.taskName %></span>
        </div>

        <div class="task-details">
            <p><%= task.description %></p>
        </div><br>

        <div class="action">
            <a href="/update-task/<%= task._id %>" class="update">Update</a>
            <a href="/delete-task/<%= task._id %>" class="delete">Delete</a>
        </div>
    </div><br>

</body>
</html>
