<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/users/head.ejs', { viewCss: '/css/profile.css' }) %>

<%- include('../../partials/users/nav.ejs') %>

<body>
    <h3>MY DETAILS</h3><br>
    <div class="profile-div">
        <div class="profile-field">
            <div class="profile-label">Full Name:</div>
            <div class="profile-value"><%= user.fullName %></div>
        </div>

        <div class="profile-field">
            <div class="profile-label">Department:</div>
            <div class="profile-value"><%= user.department %></div>
        </div>

        <div class="profile-field">
            <div class="profile-label">ID:</div>
            <div class="profile-value"><%= user.empId %></div>
        </div>

        <div class="profile-field">
            <div class="profile-label">Email:</div>
            <div class="profile-value"><%= user.email %></div>
        </div>

        <div class="profile-field">
            <div class="profile-label">Phone:</div>
            <div class="profile-value"><%= user.phone %></div>
        </div><br><br>
    </div>

    <a href="/update-profile-page">Update Profile</a><br><br><br>
    <a href="/user-logout">Log out</a>
</body>
</html>
